<div class="row">
	<div class="dashboard col-lg-12 col-md-12 col-sm-12 col-xs-12">
		
		<!-- <navigation-dir></navigation-dir> -->

		<div class="header-tabs col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<a href="#" class="text-center col-lg-4 col-md-4 col-sm-12 col-xs-12">Dashboard</a>
			<a href="#" class="bordered text-center col-lg-4 col-md-4 col-sm-12 col-xs-12"><span class="glyphicon glyphicon-plus"></span> Student</a>
			<a href="#" class="text-center col-lg-4 col-md-4 col-sm-12 col-xs-12"><span class="glyphicon glyphicon-plus"></span> Admin</a>
		</div>

		<div class="dashboard-jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<div class="student-thumbnail col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="student col-lg-10 col-md-10 col-sm-10 col-xs-12">
					<img src="./img/NSP.JPG" class="img-responsive img-rounded" alt="student-photo" style="width:140px; height:150px;">
					<div class="student-info">
						<h3>Nazmuz Shakib Pranto</h3>
						<p><strong>Location:</strong> Boston, MA</p>
						<p><strong>DevMountain:</strong> Yes</p>
						<p><strong>Email:</strong> npranto@gmail.com</p>
					</div>
				</div>
				<div class="admin-actions col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<a href="#" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
					<a href="#" class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span> Save</a>
					<a href="#" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</a>
				</div>
			</div>

			<div class="student-thumbnail col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="student col-lg-10 col-md-10 col-sm-10 col-xs-12">
					<img src="./img/NSP.JPG" class="img-responsive img-rounded" alt="student-photo" style="width:140px; height:150px;">
					<div class="student-info">
						<h3>Nazmuz Shakib Pranto</h3>
						<p><strong>Location:</strong> Boston, MA</p>
						<p><strong>DevMountain:</strong> Yes</p>
						<p><strong>Email:</strong> npranto@gmail.com</p>
					</div>
				</div>
				<div class="admin-actions col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<a href="#" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
					<a href="#" class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span> Save</a>
					<a href="#" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</a>
				</div>
			</div>
			<div class="student-thumbnail col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="student col-lg-10 col-md-10 col-sm-10 col-xs-12">
					<img src="./img/NSP.JPG" class="img-responsive img-rounded" alt="student-photo" style="width:140px; height:150px;">
					<div class="student-info">
						<h3>Nazmuz Shakib Pranto</h3>
						<p><strong>Location:</strong> Boston, MA</p>
						<p><strong>DevMountain:</strong> Yes</p>
						<p><strong>Email:</strong> npranto@gmail.com</p>
					</div>
				</div>
				<div class="admin-actions col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<a href="#" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
					<a href="#" class="btn btn-block btn-success"><span class="glyphicon glyphicon-ok"></span> Save</a>
					<a href="#" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</a>
				</div>
			</div>

		</div>

		<div class="student-jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="add-student-box col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<div class="form-title col-lg-10 col-lg-offset-1">
					<a class="col-lg-6 text-center new-student">New Student Form</a>
				</div>

				<div class="signup">
					<form class="col-lg-10 col-lg-offset-1">
					
						<div class="form-group col-lg-6">
		<!-- 	    		<label for="exampleInputEmail1">First Name</label>
		 -->				<input ng-model="newUser.firstName" type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
						</div>
						<div class="form-group col-lg-6">
			    			<!-- <label for="exampleInputEmail1">Last Name</label> -->
						    <input ng-model="newUser.lastName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
						</div>
		 				<div class="form-group col-lg-12">
			    			<!-- <label for="exampleInputEmail1">Email</label> -->
						    <input ng-model="newUser.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						</div>
					    <div class="form-group col-lg-12">
					    	<!-- <label for="exampleInputPassword1">Password</label> -->
					    	<input ng-model="newUser.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					    </div>
						<button ng-click="signUp(newUser)" type="submit" class="btn btn-success col-lg-6 col-lg-offset-3">Get Started</button>
					</form>
				</div>

			</div>
		</div>

		<div class="admin-jumbotron">
			
		</div>

	</div>
</div>