<div class="row">
	<div class="dashboard col-lg-12 col-md-12 col-sm-12 col-xs-12">
		
		<div class="header-tabs col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<a ng-click="showDashboardView()" ng-class="showDashboard ? 'devmtn-tab' : 'regular-tab'" class="text-center col-lg-4 col-md-4 col-sm-12 col-xs-12 border-underneath">Dashboard</a>
			<a ng-click="showStudentView()" ng-class="showStudent ? 'devmtn-tab' : 'regular-tab'" class="bordered text-center col-lg-4 col-md-4 col-sm-12 col-xs-12 border-underneath"><span class="glyphicon glyphicon-plus"></span> Student</a>
			<a ng-click="showAdminView()" ng-class="showAdmin ? 'devmtn-tab' : 'regular-tab'" class="text-center col-lg-4 col-md-4 col-sm-12 col-xs-12 border-underneath"><span class="glyphicon glyphicon-plus"></span> Admin</a>
		</div>
		
		<div class="admin-ctrl col-md-12 col-sm-12 col-xs-12">
			<a ng-click="logout()" class="btn btn-block logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
		</div>

		<div class="dashboard-jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12 animated slideInUp" ng-show="showDashboard">
			<h1 class="page-header jumbotron-headers">Dashboard</h1>

			<div class="filter-sort-buttons">
				<a ng-click="filter()">Filter</a>
				<p> | </p>
				<a ng-click="sort()">Sort</a>
			</div>

			<div class="filter-sort col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center animated slideInRight" ng-show="showFilter">
				<p class="text-right"><i class="fa fa-times fa-lg" aria-hidden="true" ng-click="hideFilter()"></i></p>
				<h1 class="page-header text-left">Filter</h1>
				<div class="form">
					<div class="form-group col-lg-6 col-md-6">
					    <label for="exampleInputEmail1" class="text-center">Name</label>
					    <input ng-model="search.name.$" type="text" class="form-control text-center" id="exampleInputEmail1" placeholder="e.g., matt">
					</div>
					<div class="form-group col-lg-6 col-md-6">
					    <label for="exampleInputEmail1" class="text-center">DevMountain Campus</label>
					    <input ng-model="search.campus" class="awesomplete form-control text-center"  list="devmtnCampus" placeholder="e.g., Dallas, TX"/>
						<datalist id="devmtnCampus">
							<option>Provo, UT</option>
							<option>Salt Lake City, UT</option>
							<option>Dallas, TX</option>
						</datalist>
					</div>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="student in students | filter:search:strict">
				<div class="student-thumbnail student-moreinfo col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div ng-click="collapsedMoreInfo=!collapsedMoreInfo" class="student col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<img src="./img/user-avatar.jpeg" class="img-responsive img-rounded" alt="student-photo" style="width:140px; height:150px;">
						<div class="student-info hidden-xs">
							<h3>{{student.name.firstName}} {{student.name.lastName}}</h3>
							<p><strong>Location:</strong> <span ng-repeat="location in student.locations">
							<i class="fa fa-chevron-circle-right" aria-hidden="true"></i> {{location.city}} ({{location.state}}) &nbsp;</span> </p>
							<p><strong>DevMountain:</strong> {{student.devMountain}}</p>
							<p><strong>Years of Experience:</strong> {{student.yearsExperience}}</p>
						</div>
					</div>
					<div class="admin-actions col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
							<a ng-click="collapsed=!collapsed" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
							<a ng-click="deleteStudent(student)" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</a>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 registered-on">
							<p>Registed on {{student.createdAt | date:'longDate'}}</p>
						</div>
					</div>
				</div>

				<div ng-show="collapsedMoreInfo" class="well more-info col-lg-10 col-lg-offset-1 animated fadeIn">
					<div class="details col-lg-6">
						<h3>Details</h3>
						<p ng-hide={{!student.campus}}><strong>DevMountain Campus:</strong> {{student.campus}}</p>
						<p ng-hide={{!student.skills}}><strong>Skills:</strong><span ng-repeat="skill in student.skills"> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> {{skill}} &nbsp;</span></p>
					</div>
					<div class="contact col-lg-6">
						<h3>Contact</h3>
						<p ng-hide={{!student.email}}><strong>Email:</strong> <a href={{student.email}}>{{student.email}}</a></p>
						<p ng-hide={{!student.linkedIn}}><strong>LinkedIn:</strong> <a href={{student.linkedIn}}>{{student.linkedIn}}</a></p>
						<p ng-hide={{!student.gitHub}}><strong>GitHub:</strong> <a href={{student.gitHub}}>{{student.gitHub}}</a></p>
						<p ng-hide={{!student.personalWebsite}}><strong>Personal Website:</strong> <a href={{student.personalWebsite}}> {{student.personalWebsite}}</a></p>
					</div>
				</div>

				<div class="edit-profile col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 animated slideInUp" ng-show="collapsed">
					<div class="col-lg-10 col-lg-offset-1 animated fadeIn text-right">
						<i ng-click="collapsed=!collapsed" class="fa fa-times fa-2x hide-times" aria-hidden="true"></i>
					</div>
					<div class="form">
						<form class="col-lg-10 col-lg-offset-1">
							<div class="personal-info col-lg-12">
								<h1 class="page-header">Personal Information</h1>
								<div class="form-group col-lg-6">
								<input ng-model="student.name.firstName" type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name" required>
								</div>
								<div class="form-group col-lg-6">
								    <input ng-model="student.name.lastName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name" required>
								</div>
				 				<div class="form-group col-lg-12">
								    <input ng-model="student.email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
								</div>
								<div>
									<h1 class="page-header">Locations</h1>
									<div class="form-group col-lg-6">
									    <span class="input-group-addon form-headers">City</span>
									    <input type="text" ng-model="updatedCity" class="form-control text-center" id="exampleInputEmail1" placeholder="Dallas" required>
									</div>
									<div class="form-group col-lg-6">
									    <span class="input-group-addon form-headers">State</span>
									    <input class="awesomplete form-control text-center" list="selectedState" ng-model="updatedState" placeholder="e.g., Texas" required/>
										<datalist id="updatedState">
											<option ng-repeat="state in states">{{state}}</option>
										</datalist>
									</div>
									<a class="btn btn-block btn-success col-lg-12" ng-show="updatedState.length && updatedCity.length" ng-click="addUpdatedLocationToLocationBox(student._id, updatedCity, updatedState)">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</a>
									<div class="skills-chosen col-lg-12" >
										<a ng-repeat="location in student.locations" class="btn btn-sm btn-primary btn-danger">{{location.city}}, {{location.state}}<i ng-click="removeUpdatedLocation(student._id, location._id)" class="fa fa-times fa-lg btn" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>

							<div class="devmtn-association col-lg-12">
								<h1 class="page-header">Association With DevMountain</h1>
								<div class="form-group col-lg-6">
								    <span class="input-group-addon form-headers">DevMountain Student</span>
								    <input ng-model="student.devMountain" class="awesomplete form-control text-center"  list="devmtnStudent" placeholder="Yes/No"/>
									<datalist id="devmtnStudent">
										<option>Yes</option>
										<option>No</option>
									</datalist>
								</div>
								<div class="form-group col-lg-6">
								    <span class="input-group-addon form-headers" >DevMountain Campus</span>
								    <input ng-model="student.campus" class="awesomplete form-control text-center"  list="devmtnCampus" placeholder="e.g., Dallas, TX"/>
									<datalist id="devmtnCampus">
										<option>Provo, UT</option>
										<option>Salt Lake City, UT</option>
										<option>Dallas, TX</option>
									</datalist>
								</div>
							</div>

							<div class="skills col-lg-12">
								<h1 class="page-header">Skills</h1>
								<div class="form-group col-lg-8">
								    <span class="input-group-addon form-headers">What are you top skills?</span>
								    <input class="awesomplete form-control text-center" list="selectedSkill" ng-model="updateSelectedSkill" placeholder="e.g., JavaScript"/>
									<datalist id="updateSelectedSkill">
										<option ng-repeat="skill in skills">{{skill}}</option>
									</datalist>
									<a class="btn btn-block btn-success" ng-show="updateSelectedSkill.length" ng-click="addToUpdatedSkillsBox(student._id, updateSelectedSkill)">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</a>
									<div class="skills-chosen" >
										<a ng-repeat="skill in student.skills" class="btn btn-sm btn-primary btn-danger">{{skill}}<i ng-click="removeUpdatedSkill(student._id, skill)" class="fa fa-times fa-lg btn" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="form-group col-lg-4">
								    <span class="input-group-addon form-headers" >Years of experience</span>
								    <input ng-model="student.yearsExperience" class="awesomplete form-control text-center"  list="yearsExperience" placeholder="e.g., 2-3 years" required/>
									<datalist id="yearsExperience">
										<option>0-1 years</option>
										<option>1-2 years</option>
										<option>2-3 years</option>
										<option>3-4 years</option>
										<option>4-5 years</option>
										<option>5+ years</option>
									</datalist>
								</div>
							</div>

							<div class="links col-lg-12">
								<h1 class="page-header">Links</h1>
								<form class="form-horizontal">
									<div class="form-group">
									    <label for="inputEmail3" class="col-sm-2 control-label">LinkedIn</label>
									    <div class="col-sm-10">
									      <input ng-model="student.linkedIn" type="text" class="form-control" id="inputEmail3" placeholder="Paste your LinkedIn url">
									    </div>
									</div>
									<div class="form-group">
									    <label for="inputEmail3" class="col-sm-2 control-label">GitHub</label>
									    <div class="col-sm-10">
									      <input ng-model="student.gitHub" type="text" class="form-control" id="inputEmail3" placeholder="Paste your GitHub url">
									    </div>
									</div>
									<div class="form-group">
									    <label for="inputEmail3" class="col-sm-2 control-label">Personal Website</label>
									    <div class="col-sm-10">
									      <input ng-model="student.personalWebsite" type="text" class="form-control" id="inputEmail3" placeholder="Paste your personal website url">
									    </div>
									</div>
								</form>
								
							</div>

							<a ng-click="updateStudentById(student)" type="submit" class="btn btn-success col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12 add-student"><i class="fa fa-check" aria-hidden="true"></i> Update </a>

						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="student-jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12 animated slideInUp" ng-show="showStudent">
			<h1 class="page-header jumbotron-headers">New Student Form</h1>
			<div class="add-student-box col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<div class="form">
					<form class="col-lg-10 col-lg-offset-1" >
						<div class="personal-info col-lg-12">
							<h1 class="page-header">Personal Information</h1>
							<div class="form-group col-lg-6">
							<input ng-model="newStudent.name.firstName" ng-model="clear" type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name" maxlength="50" required>
							</div>
							<div class="form-group col-lg-6">
							    <input ng-model="newStudent.name.lastName" ng-model="clear" type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name" maxlength="50" required>
							</div>
			 				<div class="form-group col-lg-12">
							    <input ng-model="newStudent.email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" maxlength="50" required>
							</div>

							<h1 class="page-header">Locations</h1>
							<div class="form-group col-lg-6">
							    <span class="input-group-addon form-headers">City</span>
							    <input type="text" ng-model="selectedCity" class="form-control text-center" id="exampleInputEmail1" placeholder="Dallas" required>
							</div>
							<div class="form-group col-lg-6">
							    <span class="input-group-addon form-headers">State</span>
							    <input class="awesomplete form-control text-center" list="selectedState" ng-model="selectedState" placeholder="e.g., Texas" required/>
								<datalist id="selectedState">
									<option ng-repeat="state in states">{{state}}</option>
								</datalist>
							</div>
							<a class="btn btn-block btn-success col-lg-12" ng-show="selectedState.length && selectedCity.length" ng-click="addLocationToLocationBox(selectedCity, selectedState)">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</a>
							<div class="skills-chosen col-lg-12" >
								<a ng-repeat="location in selectedLocations" class="btn btn-sm btn-primary btn-danger">{{location.city}}, {{location.state}}<i ng-click="removeLocation(location)" class="fa fa-times fa-lg btn" aria-hidden="true"></i></a>
							</div>
						</div>

						<div class="devmtn-association col-lg-12">
							<h1 class="page-header">Association With DevMountain</h1>
							<div class="form-group col-lg-6">
							    <span class="input-group-addon form-headers">DevMountain Student</span>
							    <input ng-model="newStudent.devMountain" class="awesomplete form-control text-center"  list="devmtnStudent" placeholder="Yes/No" required />
								<datalist id="devmtnStudent">
									<option>Yes</option>
									<option>No</option>
								</datalist>
							</div>
							<div class="form-group col-lg-6">
							    <span class="input-group-addon form-headers" >DevMountain Campus</span>
							    <input ng-model="newStudent.campus" class="awesomplete form-control text-center"  list="devmtnCampus" placeholder="e.g., Dallas, TX" required/>
								<datalist id="devmtnCampus">
									<option>Provo, UT</option>
									<option>Salt Lake City, UT</option>
									<option>Dallas, TX</option>
								</datalist>
							</div>
						</div>

						<div class="skills col-lg-12">
							<h1 class="page-header">Skills</h1>
							<div class="form-group col-lg-8">
							    <span class="input-group-addon form-headers">What are you top skills?</span>
							    <input class="awesomplete form-control text-center" list="selectedSkill" ng-model="selectedSkill" placeholder="e.g., JavaScript"/>
								<datalist id="selectedSkill">
									<option ng-repeat="skill in skills">{{skill}}</option>
								</datalist>
								<a class="btn btn-block btn-success" ng-show="selectedSkill.length" ng-click="addToSkillsBox(selectedSkill)">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</a>
								<div class="skills-chosen" >
									<a ng-repeat="skill in selectedSkills" class="btn btn-sm btn-primary btn-danger">{{skill}}<i ng-click="removeSkill(skill)" class="fa fa-times fa-lg btn" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="form-group col-lg-4">
							    <span class="input-group-addon form-headers" >Years of experience</span>
							    <input ng-model="newStudent.yearsExperience" class="awesomplete form-control text-center"  list="yearsExperience" placeholder="e.g., 2-3 years"/>
								<datalist id="yearsExperience">
									<option>0-1 years</option>
									<option>1-2 years</option>
									<option>2-3 years</option>
									<option>3-4 years</option>
									<option>4-5 years</option>
									<option>5+ years</option>
								</datalist>
							</div>
						</div>

						<div class="links col-lg-12">
							<h1 class="page-header">Links</h1>
							<form class="form-horizontal">
								<div class="form-group">
								    <label for="inputEmail3" class="col-sm-2 control-label">LinkedIn</label>
								    <div class="col-sm-10">
								      <input ng-model="newStudent.linkedIn" type="text" class="form-control" id="inputEmail3" placeholder="Paste your LinkedIn url">
								    </div>
								</div>
								<div class="form-group">
								    <label for="inputEmail3" class="col-sm-2 control-label">GitHub</label>
								    <div class="col-sm-10">
								      <input ng-model="newStudent.gitHub" type="text" class="form-control" id="inputEmail3" placeholder="Paste your GitHub url">
								    </div>
								</div>
								<div class="form-group">
								    <label for="inputEmail3" class="col-sm-2 control-label">Personal Website</label>
								    <div class="col-sm-10">
								      <input ng-model="newStudent.personalWebsite" type="text" class="form-control" id="inputEmail3" placeholder="Paste your personal website url">
								    </div>
								</div>
							</form>
						</div>

						<a ng-click="createStudent(newStudent)" type="submit" class="btn btn-success col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12 add-student" ><i class="fa fa-plus" aria-hidden="true"></i> Add Student </a>

					</form>
				</div>
			</div>
		</div>

		<div class="admin-jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12 animated slideInUp" ng-show="showAdmin">
			<h1 class="page-header jumbotron-headers">Admins</h1>
			<!-- <div class="well">
				<form name="newAdminForm">
					<div class="form-group">
					    <label for="exampleInputEmail1">Register Administrator</label>
					    <input ng-model="newAdmin.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
					</div>
				  <button ng-click="updateEmail(newAdmin)" ng-disabled="newAdminForm.$invalid" type="submit" class="btn btn-danger"><i class="fa fa-plus" aria-hidden="true"></i> Add Admin</button>
				</form>
			</div> -->
			<hr>
		</div>

	</div>
</div>
















