<div class="slack-wrapper">
  <div class="slack-banner">
      <div class="slack-header">
        <div class="slack-logo">
          <ul>
            <li class="astronaut"><a href="" class=""></a></li>
          </ul>
        </div>
        <div class="slack-nav">
          <ul>
            <li><a ui-sref="home">Admin Login</a></li>
            <li><a ui-sref="entry">About</a></li>
            <li><a ui-sref="how_works">How It Works</a></li>
          </ul>
        </div>
      </div>
      <div class="slack-inner-banner">
        <h2>Hack Time, Add Recruiter Bot To Your Slack</h2>
      </div>
      <a class="slack-button" href="https://slack.com/oauth/authorize?scope=bot&client_id=62057718033.64634366209"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"/>
      </a>
  </div>
  <div class="slack-main">
      <img src="./img/candidate.png" alt="slack attachment">
      <div>
        <h2>Get More Done, Add A Robot To Your Team</h2>
        <p id="instructions">
        RecruiterBot is easy to use.  Talk to it like you talk to a human.  Tell it you are looking for a job and RecruiterBot will guide you through the porcess and almost get you hired all quickly done through Slack.
        </p>
      </div>
  </div>
  <div class="slack-footer">
      <div class="slack-nav-footer">
        <a ui-sref="home">Admin Login</a>
        <a ui-sref="privacy">Terms and Privicy Policy</a>
        <a ui-sref="how_works">How It Works</a>
        <a ui-sref="entry">About</a>
      </div>
      <div class="copyright-container">
        <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png" /></a><br />This work is licensed under a<br/><a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>
      </div>
  </div>

  </div>
</div>
