<video autoplay loop muted class="bg-video">
	<source src="./videos/city-intersection.mp4" type="video/mp4">
</video>

<div class="row home">
	<div class="home col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="login-box col-lg-10 col-md-10 col-sm-10 col-xs-12
							col-lg-offset-1 col-md-offset-1 col-sm-offset-1">

			<img src="./img/recruiterBot.jpeg" class="img-responsive img-thumbnail img-circle center-block"">
			<form class="col-lg-6 col-md-6 col-sm-8 col-xs-12
							col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
				<input ng-model="admin.username" type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="Username" required>
				<input ng-model="admin.password" type="password" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="Password" required>
				<br>
				<button ng-click="login(admin)" class="btn btn-block btn-success">Login</button>
				<div class="alternatives-to-login">
					<!-- <a type="button" class="btn btn-block btn-link">Forgot password?</a> -->
					<a type="button" ng-click="showCreateNewAccount()" class="btn btn-block btn-link">Create New Account</a>
				</div>
			</form>
			<div class="create-admin col-lg-12 col-md-12 col-sm-12 col-xs-12 animated bounceInUp" ng-show="showCreateNewAccountForm" >
				<p class="text-right"><i ng-click="hideCreateNewAccount()" class="fa fa-times" aria-hidden="true"></i><p>
				<h2 class="page-header">Create New Account</h2>
				<form class="form-inline">
					<div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Username</label>
					    <input type="text" ng-model="newAdmin.username" class="form-control" id="exampleInputPassword3" placeholder="Username">
					</div>
					<div class="form-group">
					    <label class="sr-only" for="exampleInputEmail3">Email</label>
					    <input type="email" ng-model="newAdmin.email" class="form-control" id="exampleInputEmail3" placeholder="Email">
					</div>
					<div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input type="password" ng-model="newAdmin.password" class="form-control" id="exampleInputPassword3" placeholder="Password">
					</div>
					<button type="submit" ng-click="createUser(newAdmin)" class="btn btn-primary col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">Create New Account</button>
				</form>
			</div>

		</div>

	</div>
</div>
