<p>
Need to fill a position. Is your business expanding and you need to hire developers. No longer do you need to have an HR team or even have a third party fill the position for you.  RecruiterBot can put you in direct contact with qualified candidates.  If you are looking for a dev job the quickest way to be seen by a potential employer is by using recruiterBot.  RecruiterBot will save your links and contact info and connect you to employers or recruiters.  Its so easy just chat with recruiterBot.</p>

<img src="./img/helpattachment.png" alt="">
<img src="./img/candidate.png" alt="">

<div class="slack-nav-footer">
    <a ui-sref="home">Admin Login</a>
    <a ui-sref="support">Support</a>
    <a ui-sref="how_works">How It Works</a>
</div>
