<div class="how-works-container">
  <nav class="how-works-nav">
    <ul>
      <li><a ui-sref="home">Admin Login</a></li>
      <li><a ui-sref="support">Support</a></li>
      <li><a ui-sref="how_works">How It Works</a></li>
    </ul>
  </nav>
  <section class="how-works-section">
      <div class="summary">
        <h2>Simply Add Recruiterbot With Slack Button</h2>
        <p>
        Need to fill a position. Is your business expanding and you need to hire developers. No longer do you need to have an HR team or even have a third party fill the position for you.  RecruiterBot can put you in direct contact with qualified candidates.  If you are looking for a dev job the quickest way to be seen by a potential employer is by using recruiterBot.  RecruiterBot will save your links and contact info and connect you to employers or recruiters.  Its so easy just chat with recruiterBot.</p>
      </div>
  </section>
  <div class="attachments">
        <div class="first">
          <h2>Type Help For List Of Commands</h2>
          <img src="./img/helpattachment.png" alt="">
        </div>
        <div class="second">
          <h2>Your Saved Information Example</h2>
          <img src="./img/candidate.png" alt="">
        </div>
  </div>

  <div class="how-work-footer">
    <li>support email: sophierecruiterbot@gmail.com</li>
    <div>
        <a ui-sref="home">Admin Login</a>
        <a ui-sref="privacy">Terms and Privicy Policy</a>
        <a ui-sref="how_works">How It Works</a>
        <a ui-sref="entry">About</a>
    </div>
  </div>
</div>
