html {
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Roboto Condensed', sans-serif;

}

.slack-wrapper {
  height: 100vh;
  background: #eee;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  color: #eee;
}

/*flex container 1*/
.slack-banner {
  flex-grow: 1;
width: 100%;
background: linear-gradient(rgba(66,73,88,.8),rgba(66,73,88,.8)), url('https://www.nps.gov/nr/twhp/wwwlps/lessons/101space/101images/101img3bl.jpg');
background-size: cover;
display: flex;
flex-direction: column;
  }

  .slack-main {
    flex: 1;
    font-weight: 200;
    display: flex;
    margin: 10px;
  }
  .slack-main img{
    flex: 1 1 40%;
  }
  .slack-main div{
    flex: 1 1 50%;
    background-color: white;
  }
  .slack-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: grey;
  }
  .slack-button {
    align-self: center;
    margin-bottom: 20px;
  }

.slack-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slack-inner-banner{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
}
.slack-inner-banner h2 {
    text-align: center;
    font-size: 250%;
    color: white;
}

.slack-banner a:hover{
  color: black;
  background-color: white;
 transition-property: background;
 transition-duration: 1s;
 transition-timing-function: linear;
}
.slack-nav ul{
  list-style-type: none;
  display: flex;
  color: white;
  margin: 20px;
}

.slack-nav li {
  color: white;
  margin: 10px;
}
.slack-logo {
  color: white;
  max-width: 80px;
}
.slack-main p{
  margin: 10px auto;
  padding: 10px;
}
.slack-main h2 {
  padding:10px;
  margin: 10px;
}
.slack-logo ul{
  display: flex;
}
.slack-logo li {
  flex: 1 1 0;
  list-style-type: none;
  margin: 10px;
}
.slack-logo a{
  text-indent: -10000px;
}
.slack-inner-banner a {
  align-items: flex-end;
}
 .astronaut {
  background: url(../img/recruiterbot.png) no-repeat center;
  background-size: 80%;
  width: 200px;
  height: 63px;
  margin: 0;
}
.slack-footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
.slack-footer a:hover{
  text-decoration: none;
  color: white;
  transition-property: background;
  transition-duration: .05s;
  transition-timing-function: linear;
}
/*how it works CSS/ support */
.how-works-container{
  height: 100vh;
background: #eee;
width: 100%;
max-width: 1400px;
margin: 0 auto;
display: flex;
flex-direction: column;
}
.how-works-section {
  flex: 2;
}
.how-works-nav {
  height: 100px;
  flex: 1;
}
.attachments {
  flex:2;
  background-color: #eee;
}
.how-works-nav ul {
  list-style-type: none;
  display: flex;
}
.how-works-nav a {
  flex: 1 1;
}
.how-works-footer{
  height: 100px;
  align-items: center;
  margin: 50px auto;
  flex: 1;
}
.how-work-footer div{
  display: flex;
  justify-content: space-around;
}
.how-work-footer li {
text-align: center;
}
.how-work-footer a {
  color: black;
}
.how-works-container h2{
  text-align: center;
}
/* privacy page*/
.privacy {
  margin: 20px auto;
  padding: 20px;
}
.privacy-header {
  display: flex;
  width: 100%;
  background-color: #666;
  align-items: center;


}
.privacy-slack-nav {
  margin-right: 50px;
}
.privacy-slack-nav ul {
  list-style-type: none;
    display: flex;
}
.privacy-slack-nav a {
  text-decoration: none;
  flex-basis: 100px;
  margin: 0 10px;
}
.privacy-logo-text {
  flex: 1;
  color: white;
}
.privacy-text {
margin: 50px 75px;
}
.privacy-logo-image {
background: url(../img/recruiterbot.png) no-repeat center;
background-size: 70%;
flex-basis: 100px;
height: 75px;
margin: 2px;
}
.privacy-text h1{
  text-align: center;
  margin-bottom: 39px;
}
.zachy-boy {
  background: url(../img/recruiterbot.png) no-repeat center;
  background-size: 70%;
  flex-basis: 100px;
  height: 75px;
  margin: 2px;
  align-self: center;
}
