body{
	background-color: lightgray;
}
.bg-video{
	position: fixed;
	top: 0px;
	left: 0px;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	z-index: -99;
}

/* //////////////////////////////// home.html //////////////////////////////*/
.home{
	background-color: rgba(255, 255, 255, 0.6);
}
.home .login-box{
	height: 100VH;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.home .login-box img{
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
}
.home .login-box .img-thumbnail {
	box-shadow: 0px 0px 5px gray;
}
.home .login-box input, .home .login-box button{
	border-radius: 0px;
	font-size: 15px;
	font-family: "Raleway";
	font-weight: 500;
}
.home .login-box input{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
	background-color: black;
	color: #00A6F1;
}
.home .login-box button{
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 10px gray;
}
.home .login-box a{
	color: gray;
	font-family: "Raleway";
	font-weight: 300;
	text-decoration: none;
}
.home .login-box a:hover{
	color: #00A6F1;
}

/* //////////////////////////////// dashboard.html //////////////////////////////*/
.dashboard{
	overflow: auto;
	background-color: white;
}
.dashboard .header-tabs{
	/*display: flex;
	flex-flow: row;
	justify-content: flex-start;*/
	margin-top: 15px;
	margin-bottom: 15px;
	/*border-bottom: 1px solid lightgray;*/
}
/*.dashboard .border-underneath{
	border-bottom: 1px solid lightgray;
}*/
.dashboard .header-tabs a{
	text-decoration: none;
	color: #00A6F1;
	font-size: 17.5px;
	font-family: "Raleway";
	font-weight: 200;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}
.dashboard .header-tabs a:hover{
	background-color: #00A6F1;
	color: white;
}
.dashboard .header-tabs .devmtn-tab {
	background-color: #00A6F1;
	color: white;
}
.dashboard .header-tabs .regular-tab {
	background-color: white;
	color: #00A6F1;
}
.dashboard .header-tabs .bordered{
	/*border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;*/
}
.dashboard .filter-sort-buttons{
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
}
.dashboard .filter-sort-buttons a, .dashboard .filter-sort-buttons p{
	padding: 5px;
	font-family: "Raleway";
	font-size: 17.5px;
	font-weight: 400;
}
.dashboard .filter-sort-buttons p{
	color: lightgray;
}
.dashboard .filter-sort-buttons a{
	text-decoration: none;
	cursor: pointer;
	color: gray;
}
.dashboard .filter-sort-buttons a:hover{
	color: black;
}
.dashboard .filter-sort{
	background-color: #00A6F1;
	padding-top: 15px;
	padding-bottom: 15px;
}
.dashboard .filter-sort i{
	color: gray;
}
.dashboard .filter-sort i:hover{
	cursor: pointer;
	color: black;
}
.dashboard .filter-sort h1{
	margin: 0px;
	font-family: "Raleway";
	font-weight: 500;
}
.dashboard .filter-sort label{
	font-family: "Raleway";
	font-weight: 500;
}
.dashboard .filter-sort input{
	border-radius: 0px;
}
.dashboard .filter-sort .form{
	padding-top: 15px;
	padding-bottom: 15px;
}
.dashboard .dashboard-jumbotron .student-thumbnail{
	/*display: flex;
	flex-flow: row;
	justify-content: space-around;*/
	padding-top: 15px;
	padding-bottom: 15px;
	/*border-bottom: 1px solid lightgray;*/
}
.dashboard .dashboard-jumbotron .student-moreinfo{
	cursor: pointer;
}
.dashboard .dashboard-jumbotron .more-info {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.dashboard .dashboard-jumbotron .more-info h3, p{
	font-family: "Raleway";
}
.dashboard .dashboard-jumbotron .more-info h3{
	font-weight: 500;
	color: black;
	/*margin-bottom: 0px;*/
	border-bottom: 1px solid lightgray;
}
.dashboard .dashboard-jumbotron .more-info p{
	color: gray;
	margin: 0px;
	font-weight: 400;
	font-style: 17.5
}
.dashboard .dashboard-jumbotron .more-info .details, .dashboard .dashboard-jumbotron .more-info .contact{
	/*border-left: 2.5px solid lightgray;*/
}
.dashboard .dashboard-jumbotron .student{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	height: 150px;
}
.dashboard .dashboard-jumbotron .student-info{
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.dashboard .dashboard-jumbotron .student-info h3, .dashboard .dashboard-jumbotron .student-info p{
	margin: 0px;
	padding-left: 10px;
	font-family: "Raleway";
}
.dashboard .dashboard-jumbotron .student-info p{
	color: #737373;
}
.dashboard .dashboard-jumbotron .student-info h3{
	font-weight: 600;
	margin-bottom: 5px;
	color: #00A6F1;
}
.dashboard .dashboard-jumbotron .admin-actions{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}
.dashboard .dashboard-jumbotron .admin-actions a{
	border-radius: 0px;
}
.student-jumbotron .add-student-box{
	overflow: auto;
	background-color: #0d0d0d;
	padding-top: 25px;
	padding-bottom: 75px;
}
.student-jumbotron .add-student-box .form-title{
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-bottom: 50px;
}
.student-jumbotron .add-student-box .form-title a{
	font-size: 25px;
	font-family: "Raleway";
	font-weight: 200;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #495C65;
	text-decoration: none;
	color: black;
	cursor: pointer;
	color: white;
}

.student-jumbotron .add-student-box .new-student p{
	font-family: "Raleway";
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: lightgray;
}
.student-jumbotron .add-student-box .form h1{
	font-family: "Raleway";
	font-weight: 200;
	color: rgba(154, 149, 149, 0.84);
}
.student-jumbotron .add-student-box form input, .add-student-box form a, .add-student-box .add-student, .add-student-box form span{
	border-radius: 0px;
	font-family: "Raleway";
	font-weight: 500;
}
.student-jumbotron .add-student-box form input{
	padding: 20px;
	color: #00A6F1;
}
.student-jumbotron .add-student-box .add-student{
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 50px;
}
.student-jumbotron .add-student-box .form .form-headers{
	border-radius: 0px;
	background-color: #00A6F1; 
	color: white;
}
.student-jumbotron .add-student-box .skills a{
	border-radius: 0px;
}
.student-jumbotron .skills-chosen{
	overflow: auto;
	background-color: rgb(255,255,255, 0.9);
}
.student-jumbotron .skills-chosen a{
	margin: 2.5px;
}
.student-jumbotron  .links label{
	font-family: "Raleway";
	font-weight: 300;
	color: white;
	text-align: right;
}
.admin-jumbotron input, .admin-jumbotron button{
	font-family: "Raleway";
	font-weight: 200;
	border-radius: 0px;
}
.admin-jumbotron input{
	color: #00A6F1;
	font-weight: 400;
}
.admin-jumbotron button{
	color: white;
}
.dashboard-jumbotron .jumbotron-headers, .student-jumbotron .jumbotron-headers, .admin-jumbotron .jumbotron-headers{
	font-family: "Raleway";
	font-weight: 200;
	color: #404040;
}
.dashboard-jumbotron .edit-profile{
	background-color: lightgray;
	padding-top: 50px;
	padding-bottom: 50px;
}
.dashboard-jumbotron .edit-profile span{
	background-color: #00A6F1;
	color: white;
}
.dashboard-jumbotron .edit-profile input, .dashboard-jumbotron .edit-profile a{
	border-radius: 0px;
}
.dashboard-jumbotron .edit-profile a{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.dashboard-jumbotron .edit-profile h1{
	font-family: "Raleway";
	font-weight: 200;
}
.dashboard-jumbotron .edit-profile .hide-times{
	cursor: pointer;
	color: gray;
}
.dashboard-jumbotron .edit-profile .hide-times:hover{
	color: black;
}
.dashboard-jumbotron, .student-jumbotron, .admin-jumbotron{
	margin-bottom: 50px;
}
.edit-profile .skills a{
	border-radius: 0px;
}
.edit-profile .skills-chosen{
	overflow: auto;
	background-color: rgb(255,255,255, 0.9);
}
.edit-profile .skills-chosen a{
	margin: 2.5px;
}
.personal-info .address{
	color: #00A6F1;
	font-family: "Raleway";
	font-weight: 300;
	font-size: 17.5px;
}
.logout{
	font-family: "Raleway";
	font-size: 17.5;
	cursor: pointer;
	color: black;
	border-radius: 0px;
	padding: 10px;
	background-color: lightgray;
}
.logout:hover{
	background-color: #cc0000;
	color: white;
}
.dashboard-jumbotron .well{
	background: #1a1a1a;
}
.dashboard-jumbotron .well h3{
	color: #00A6F1 !important;
}









