body{
	background-color: lightgray;
}
.bg-video{
	position: fixed;
	top: 0px;
	left: 0px;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	z-index: -99;
}

/* //////////////////////////////// home.html //////////////////////////////*/
.home{
	background-color: rgba(255, 255, 255, 0.6);
}
.home .login-box{
	height: 100VH;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.home .login-box img{
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
}
.home .login-box .img-thumbnail {
	box-shadow: 0px 0px 5px gray;
}
.home .login-box input, .home .login-box button{
	border-radius: 0px;
	font-size: 15px;
	font-family: "Raleway";
	font-weight: 500;
}
.home .login-box input{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
	background-color: black;
	color: #00A6F1;
}
.home .login-box button{
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 10px gray;
}
.home .login-box a{
	color: gray;
	font-family: "Raleway";
	font-weight: 300;
	text-decoration: none;
}
.home .login-box a:hover{
	color: #00A6F1;
}

/* //////////////////////////////// dashboard.html //////////////////////////////*/
.dashboard{
	overflow: auto;
	background-color: white;
}
.dashboard .header-tabs{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
}
.dashboard .header-tabs a{
	text-decoration: none;
	color: #00A6F1;
	font-size: 17.5px;
	font-family: "Raleway";
	font-weight: 200;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dashboard .header-tabs a:hover{
	background-color: #00A6F1;
	color: white;
}
.dashboard .header-tabs .bordered{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.dashboard .dashboard-jumbotron .student-thumbnail{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid lightgray;
}
.dashboard .dashboard-jumbotron .student{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	height: 150px;
}
.dashboard .dashboard-jumbotron .student-info{
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.dashboard .dashboard-jumbotron .student-info h3, .dashboard .dashboard-jumbotron .student-info p{
	margin: 0px;
	padding-left: 10px;
	font-family: "Raleway";
}
.dashboard .dashboard-jumbotron .student-info p{
	color: #737373;
}
.dashboard .dashboard-jumbotron .student-info h3{
	font-weight: 600;
	margin-bottom: 5px;
	color: #00A6F1;
}
.dashboard .dashboard-jumbotron .admin-actions{
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}
.dashboard .dashboard-jumbotron .admin-actions a{
	border-radius: 0px;
}

.add-student-box{
	overflow: auto;
	border: 1px solid green;
	background-color: black;
	padding-top: 75px;
	padding-bottom: 75px;
	/*display: flex;
	flex-flow: column;
	justify-content: center;*/
}
.add-student-box .auth-box{
	overflow: auto;
	border: 1px solid red;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	background-color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}
.add-student-box .form-title{
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-bottom: 50px;
}
.add-student-box .form-title a{
	font-size: 25px;
	font-family: "Raleway";
	font-weight: 200;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #495C65;
	text-decoration: none;
	color: black;
	cursor: pointer;
	color: white;
	/*border: 1px solid lightgray;*/
}

.add-student-box .new-student p, .authentication .login p{
	font-family: "Raleway";
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: lightgray;
}
.add-student-box form input, .add-student-box form button{
	border-radius: 0px;
	font-family: "Raleway";
	font-weight: 500;
}
.add-student-box form input{
	padding: 20px;
	color: #00A6F1;
}
.add-student-box form button{
	padding-top: 10px;
	padding-bottom: 10px;
}








